body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: #a4d0d8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    background-color: white;
    padding: 20px 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

.calculadora input[type="text"] {
    padding: 8px;
    margin: 10px 0px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botones input[type="button"] {
    margin: 10px 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(115, 217, 135);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botones input[type="button"]:hover {
    background-color:rgb(115, 217, 135);
}