*{
	margin: 0;
	padding: 0;


}

.contenedor{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	
}

.encabezado{
	background: rgb(186, 144, 221);
	color: white;
	padding: 25px;
	text-align: center;

}

.contenido{
	display: flex;
	flex-direction: space-between;
	flex: 1;
	
}

.texto1{
	padding: 15px;
	margin: 10px;
	border: 1px solid rgb(186, 157, 231);
	box-shadow: 5px 5px rgb(168, 140, 207) ;
	color: lightpink;
	flex: 1;

}

.pie{
	padding: 10px;
	border: 1px;
	color: white;
	background: rgb(204, 173, 245);
}

@media(max-width:500px){
	.contenido{
		flex-direction: column;
	}

}
